<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <center>
        <h1>This is my profile</h1>
        <h1>Welcome to your profile</h1>
        {% comment %} <p>Email: {{ email }}</p>
        <p>Password: {{ password }}</p> {% endcomment %}
        {% comment %} {% for item in all %}
        {{ item.email }} {{ item.password }}
        <br>
        {% endfor %} {% endcomment %}
    </center>
</body>
</html>